<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.projetobilac.miniquiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".RespostaErradaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RespostaErrada"/>
        <activity android:name=".RespostaCertaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.RespostaCerta"/>
        <activity android:name=".SobreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".QuizActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>